.BandList {
  display: flex;
  justify-content: space-around;
  padding-block: 1rem;
  border-bottom: 1px solid black;
  background-color: #eee;

  h3 {
    text-transform: uppercase;
    font-size: 12px;
    padding: 1rem;
    background-color: lightblue;
    border-radius: 10px;
  }

  button {
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.15s;

    &:active {
      transform: scale(0.9);
    }
  }
}
