.concert {
  max-width: 1000px;
  margin: 3rem auto;
  color: var(--contentColor);

  @media (max-width: 767px) {
    margin: 0;
  }
}

html {
  --mobr: 768px;
}

.heading {
  h1 {
    color: black;
  }

  @media (max-width: 767px) {
    margin: 1rem;
  }
}

.showInfo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
}

.content {
  display: grid;
  grid-template-columns: clamp(200px, 30vw, 400px) 1fr;
  gap: 2rem;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.bandInfo {
  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
  }

  @media (max-width: 767px) {
    margin: 1rem;
  }
}
