.BandForm {
  margin: 3rem;
  color: var(--contentColor);
}

.heading {
  h1 {
    color: black;
  }
}

.showInfo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
}

.content {
  display: grid;
  grid-template-columns: 30vw 1fr;
  gap: 2rem;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.bandInfo {
  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
  }
}

.ticketForm {
  background-color: #eee;
  border-radius: 5px;
  padding: 1rem 2rem;

  h2 {
    color: black;
  }
}
